/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: hsl(0, 0%, 98%);
}

/******************************************
/* LAYOUT
/*******************************************/
/* header {
}

footer {
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

ul {
  display: flex;
  color: hsl(0, 0%, 41%);
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.nav-content {
  display: flex;
  flex: 1;
  align-items: center;
}

.content-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.8rem;
}

.content-item > img {
  margin-left: 0.5rem;
}

.content-item:hover > span > a {
  font-weight: 700;

  color: hsl(0, 0%, 8%);
}

.header-logo {
  display: flex;
  padding-right: 3.1rem;
}

.content-left {
  justify-content: flex-start;
}

.content-right {
  justify-content: flex-end;
  padding-right: 3.8rem;
}

.content-right > span:hover,
button {
  color: hsl(0, 0%, 8%);

  cursor: pointer;
}

.content-right > button {
  padding: 0.3rem 0.8rem;

  border: 2.5px solid hsl(0, 0%, 8%);

  background: hsl(0, 0%, 98%);
  border-radius: 8px;
}

.menu-drop-down {
  display: none;
  flex-direction: column;
  position: absolute;
  list-style: none;
  min-width: 150px;
  padding: 1rem 0.5rem;
  margin-top: 12rem;
  margin-right: 1.5rem;

  background: white;
  box-shadow: 1px 1px 1px;

  border-radius: 5px;
}

.drop-down-item {
  margin-top: 10rem;
}

.menu-item {
  display: flex;
  padding: 0.3rem;
}
.menu-item > a {
  cursor: pointer;
}

.menu-item > a > img {
  max-width: 15px;
}

.menu-item > a > span {
  margin-left: 1rem;
}

.content-item:hover > .menu-drop-down {
  display: flex;
}

/* CSS rules for main container */

main {
  display: flex;
  flex-direction: row;
}

main > section {
  min-height: 500px;
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}


