/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* body {
} */

/******************************************
/* LAYOUT
/*******************************************/
/* header {
}

footer {
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

ul {
  display: flex;

  align-items: center;
  justify-content: center;
}

.nav-content {
  display: flex;
  flex: 1;
  align-items: center;
}

.content-item {
  display: flex;
  justify-content: center;
  padding: 0.8rem;
}

.content-item:hover > a > span {
  font-weight: 800;
}

.header-logo {
  display: flex;
  padding-right: 3.1rem;
}

.content-left {
  justify-content: flex-start;
}

.content-right {
  justify-content: flex-end;
  padding-right: 3.8rem;
}

.menu-drop-down {
  display: none;
  position: absolute;
  margin-top: 1rem;
  list-style: none;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 150px;
  padding-left: 0;
  margin-top: 2.5rem;
  margin-right: 1.5rem;
}

.menu-item {
  padding: 0.3rem;
}

.content-item:hover {
  cursor: pointer;
}

.content-item:hover .menu-drop-down:hover {
  display: flex;
  cursor: pointer;
}
